<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Cadastro de Locação</title>

    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta nome="viewport" content="width=device-width"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel-body">

    <h1>Campos</h1>

    <div class="form-group row">
        <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
        <a th:href="@{/locacoes}" class="btn btn-sm btn-default">Cancelar</a>
    </div>
    </form>
</div>

</body>
</html>